.main {position: relative;}
.location { position: absolute; top: 0;left: 0; z-index: 1; } 
.location .location__new {max-width: 1356px; margin: 20px auto 30px; font-size: 13px; }
.location .location__new .box{ display: flex; }

.promotion {position: relative; padding-top: 80px; background-color: #F3E1CC;}
.promotion::after {position: absolute; content: ''; display: block; background-color: #fff;width: 100%;z-index: 1; height: 236px; bottom: 0; left: 0;} 
.promotion__inner {text-align: center;}
.promotion .promotion__headline {}
.promotion .promotion__headline .promotion__subtitle {font-size: 16px; letter-spacing: -0.4px;  margin: 0 auto 12px; line-height: 24px;color: #3D444F;}
.promotion .promotion__headline .promotion__title { margin: 0 auto 24px; font-size: 46px;  letter-spacing: -1.15px; line-height: 60px; -webkit-line-clamp: 3; text-overflow: ellipsis; font-weight: bold; overflow: hidden;color: #1B1E23;}
.promotion .promotion__headline .promotion__description {font-size: 16px; letter-spacing: -0.4px; line-height: 24px; overflow: hidden; text-overflow: ellipsis;  -webkit-line-clamp: 2; overflow: hidden;color: #5C6677;}
.promotion .promotion__image { position: relative;  z-index: 2; width: 804px;  height: 512px;  margin: 40px auto 20px; border-radius: 16px; overflow: hidden;}
.promotion .promotion__image img{width: 100%;}

.event__tabs {position: sticky; top: 0; left: 0; z-index: 89;width: 100%; background: #fff;}
.event__tabs ul {position: relative; display: flex; justify-content: center; width: 100%; width: 414px; margin: auto;}
.event__tabs ul::after {content: ''; position: absolute; left: 0; bottom: 0; width: 138px; height: 2px; background-color: #1b1e23;}
.event__tabs .event__tab-button {position: relative;  display: block;  flex: auto; line-height: 41px;   text-align: center; width: 100%;}
.event__tabs .event__tab-button button { width: 100%; font-size: 18px; line-height: 1.5; line-height: 52px;  letter-spacing: -0.45px; color: #abb2be;}
.event__tabs .event__tab-button.event__tab-button--active button { font-weight: 700;  color: #1b1e23;}

.event__headline{margin: 80px 0 0 0; }
.event__headline{ text-align: center;}
.event__headline .event__title {font-size: 40px; font-weight: bold; line-height: 59px;letter-spacing: -1px;  overflow: hidden;  text-overflow: ellipsis;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  text-align: center; color: #1b1e23;;}
.event__headline .event__subtitle {margin: 12px auto 0;  font-size: 18px;  line-height: 27px;  letter-spacing: -0.45px;  color: #5c6677;  overflow: hidden;  text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  text-align: center;}

.event__contents {margin: 80px 0 0 0;}
.event__contents .event__label { width: auto;  margin: 0 auto; max-width: fit-content; padding: 3px 16px 4px;  background-color: #000; font-size: 16px; font-weight: bold;line-height: 24px; letter-spacing: -0.4px;  text-align: center; color: #fff;  border-radius: 15px;}
.event__contents .event__title--sub { margin: 12px auto 0; font-size: 34px;  color: #1b1e23;  letter-spacing: -0.85px;  line-height: 46px;  font-weight: bold; overflow: hidden;  text-overflow: ellipsis;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  text-align: center;} 
.event__contents .event__desc { margin: 12px auto 0; font-size: 18px; color: #5c6677; letter-spacing: -0.45px;  line-height: 27px;  overflow: hidden;  text-overflow: ellipsis;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical; text-align: center;} 

.event__box {overflow: hidden; position: relative; border-radius: 12px; margin: 32px auto 0; width: 804px;}
.event__box-label {position: absolute; left: 0;  top: 0;  z-index: 1;  background-color: #b1a59a; color: #ffffff; text-align: center; padding: 4px 12px; font-size: 16px; font-weight: bold;  line-height: 24px; letter-spacing: -0.3px;  border-top-left-radius: 12px; border-bottom-right-radius: 12px;}
.event__box ul li {padding: 0 48px;}
.event__box ul li + li a{ border-top: 1px solid #eef0f2;}
.event__box ul li a{display: flex;  flex-direction: row;  align-items: center;  padding: 30px 8px;  gap: 0 24px;  pointer-events: none; }
.event__box .event__box-content{    overflow: hidden;  margin: 0 auto;}
.event__image{width: 160px; height: 160px; overflow: hidden; position: relative;}
.event__image .soldout {display: block; position: absolute; padding: 4px 12px 5px; top: 50%; left: 50%; height: 27px; font-size: 12px; line-height: 18px; box-sizing: border-box; background-color: rgba(92, 102, 119, 0.8); color: #fff; border-radius: 4px; transform: translate(-50%);}
.event__image img {width: 100%;}
.event__box .event__box-title{overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; font-size: 18px; font-weight: bold; line-height: 27px; letter-spacing: -0.45px; text-align: center;  color: #1b1e23;  margin: 0 0 4px;}
.event__box .event__box-info{overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 18px; line-height: 29px; letter-spacing: -0.5px; text-align: center; color: #3d444f;}

.event__block--gray {background-color: #f9fafb; padding: 48px 0 80px 0; margin: 48px 0 80px 0;} 
.brand {}
.brand .brand__image{}
.brand .brand__title{margin: 0 auto 24px; font-size: 24px; font-weight: bold; line-height: 36px; letter-spacing: -0.6px; text-align: center; color: #1b1e23;}
.brand__item-title { overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical;  margin: 8px 0 0; font-size: 18px; font-weight: bold; line-height: 27px; letter-spacing: -0.45px;  text-align: center;  color: #1b1e23;}